.mv-form {
  overflow: hidden;

  .mv-btn,
  .mv-btn:hover {
    outline: none;
  }

  &.mv-form-icon .mv-control {

  }

  &--hide-messages {
    .mv-control__messages {
      display: none;
    }
  }
}
