.mv-grid-item {
  position: relative;
  margin: 0;
  padding-bottom: 1.5rem;

  &__box {
    margin: 0;
  }
  &__img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 6px 4px -4px $mv-color-_gray--300;
  }

  &__caption {
    //min-height: 4rem;
    padding: 0 $mv-layout--gap;
  }

  &__link {
    @extend %resetLink;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 1rem;
    text-align: center;
    transition: background-color 300ms ease;

    &:hover {
      cursor: pointer;
    }

    &-icon {
      padding: $mv-layout--gap $mv-layout--gap $mv-layout--gap $mv-layout--gap+1.2rem;
      transform: scale(0);
      color: $mv-color__light;
      transition: transform 300ms ease;
    }

    &:hover &-icon {
      transform: scale(1);
    }
  }

  &__calendar{
    display: block;
    position: absolute;
    top: 0;
    left: 0.5rem;
    width: 3.5rem;
    padding: .3rem 0 0 0;
    text-align: center;
    background-color: $mv-color__primary;
    box-shadow: 0 8px 6px -6px $mv-color__gray--900;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    transition: padding 300ms ease, background-color 300ms ease;
  }
  &__date {
    display: block;
    padding: 0 .3rem;
  }
  &--day {
    font-size: 2em;
    color: $mv-color--gray--100;
  }
  &--month {
    font-size: 1.2em;
    text-transform: uppercase;
    color: $mv-color--gray--100;
    border-bottom: 1px solid darken($mv-color__gray--700, 6%);
  }
  &--year {
    padding-top: .2em;
    padding-bottom: .2em;
    font-size: .9em;
    color: $mv-color--gray--300;
  }


  &:hover &__link{
    //background-color: rgba($mv-color--light, .3);
  }
  &:hover &__calendar{
    padding-top: 1rem;
    background-color: $mv-color__accent;
  }
  &:hover &--year{
    color: $mv-color--gray--100;
  }
}

mv-grid-item {
  position: relative;
  display: block;
}
