<figure class="mv-grid-item">
  <div class="mv-grid-item__calendar" ng-if="$ctrl.hasDate()">
    <span class="mv-grid-item__date mv-grid-item--day">{{::$ctrl.date | mvMoment:'DD'}}</span>
    <span class="mv-grid-item__date mv-grid-item--month">{{::$ctrl.date | mvMoment:'MMM'}}</span>
    <span class="mv-grid-item__date mv-grid-item--year">{{::$ctrl.date | mvMoment:'YYYY'}}</span>
  </div>
  <a class="mv-grid-item__link" target="{{::$ctrl.target}}" ng-href="{{::$ctrl.link}}" ng-if="$ctrl.hasLink()">
    <i class="mv-grid-item__link-icon fa fa-{{$ctrl.icon}}"></i>
  </a>
  <img class="mv-grid-item__img" ng-src="{{::$ctrl.img}}" alt="{{::$ctrl.title}}"/>
  <figcaption class="mv-grid-item__caption" ng-transclude></figcaption>
</figure>
