$mv-header__height: 4rem;
$mv-header__height--lg: 6.25rem;

%mv-header__link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border: none;
  outline: none;
  font-size: inherit;
  background-color: inherit;

  &:hover {
    background-color: darken($mv-color--primary, 3%);
  }
  &:active {
    background-color: darken($mv-color--primary, 1%);
  }
}

.mv-header {
  display: flex;
  width: 100%;
  max-height: $mv-header__height;
  top: - $mv-header__height;
  flex: 1;
  font-size: 1.5rem;
  transition: max-height 300ms ease,
  top 300ms ease;

  color: $mv-color__gray--100;
  background-color: $mv-color--primary;

  &__menu {
    display: flex;
    line-height: $mv-header__height;
    order: 1;

    &-switch {
      @extend %mv-header__link;

      display: block;
      height: $mv-header__height;
      width: 4rem;
      text-align: center;
      color: $mv-color--accent;
    }
  }

  &__logo {
    display: flex;

    margin-top: -1rem;
    order: 2;

    a {
      @extend %resetLink;
    }
  }

  &__tool {
    display: flex;
    flex: 1;
    line-height: $mv-header__height;
    justify-content: flex-end;
    order: 3;
  }

  &__contact-link {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      text-align: center;
    }
    a {
      @extend %mv-header__link;
      padding: 0 0.5rem;
      min-width: 3rem;
    }
  }

  &--fixed {
    position: relative;
    //padding-top: $mv-header__height;

    .mv-header {
      position: fixed;
      top: 0;
      z-index: 1000;
      background-color: rgba($mv-color--primary, .9);
    }
  }

  @media screen and (max-width: $mv-device__xs) {
    &__menu {
      justify-content: flex-start;
    }
    &__tool {
      display: none;
    }
  }

  @media screen and (min-width: $mv-device__md) {
    max-height: $mv-header__height--lg;

    &__logo {
      //margin-top: -2.8rem;
      width: 33.33%;
      justify-content: center;
      flex: 1;
      margin-top: -1.5rem;
      order: 2;
    }

    &__menu {
      width: 33.33%;
      line-height: $mv-header__height--lg;
      height: $mv-header__height--lg;
      order: 1;

      &-switch {
        height: $mv-header__height--lg;
      }
    }

    &__tool {
      width: 33.33%;
      line-height: $mv-header__height--lg;
      order: 3;
    }

  }

}

mv-header {
  display: block;
  position: relative;
  z-index: 1000;

  & ~ section,
  & ~ .mv-layout--content {
    padding-top: 2rem;
  }
}
