<header class="mv-header">
  <div class="mv-layout--container mv-layout--limit-lg">
    <div class="mv-layout--row">
      <div class="mv-header__menu">
        <button mv-menu-switch class="mv-header__menu-switch" accesskey="2">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="mv-header__logo">
        <a href="#/home">
          <mv-logo model="header"></mv-logo>
        </a>
      </div>
      <div class="mv-header__tool">
        <nav class="mv-header__contact-link">
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-youtube-play"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

