.mv-grid {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -($mv-layout--gap);
  margin-right: -($mv-layout--gap);
}

.mv-grid-col {

}

mv-grid, mv-grid-col {

}
