/**
 * mv-toolbar
 *
 * Toolbar
 *
 * @project mvComponents
 * @version 1.0
 * @package CSS
 * @subpackage Toolbar
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../../variables";

$mv-toolbar--height: 3rem;
$mv-toolbar--font_size: 1.5rem;
$mv-toolbar--background_color: $mv-color__primary;

/*
 * @section Mixin
 */
@mixin toolbar-theme($color, $bgColor) {
  color: $color;
  background-color: $bgColor;
}

/*
 * @section Toolbar
 */
.mv-toolbar {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: $mv-toolbar--height;
  padding: 0 0.5rem;
  flex-direction: column;
  font-size: $mv-toolbar--font_size;
  color: $mv-color__gray--100;
  background-color: $mv-toolbar--background_color;

  &--accent {
    @include toolbar-theme($mv-color__default, $mv-color__gray--100)
  }

  &--primary {
    @include toolbar-theme($mv-color__gray--100, $mv-color__primary)
  }

  .mv-toolbar__row {
    box-sizing: border-box;
    width: 100%;
    height: $mv-toolbar--height;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mv-icon {
    line-height: $mv-toolbar--height;
  }

  h1, h2, h3, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: $mv-toolbar--height;
    font-size: $mv-toolbar--font_size;
    color: inherit;
  }

  a, a:visited{
    color: inherit;
    text-decoration: none;
  }

}

mv-toolbar {
  @extend .mv-toolbar;
}
