<mv-section id="partner" title="Parceiros">
  <mv-section-paginator>
    <mv-paginator limit="6" order-by="name" collection="$ctrl.partners" result="$ctrl.paginator"></mv-paginator>
  </mv-section-paginator>
  <mv-section-content>
    <p>Grandes projetos precisam de uma forte equipe, por isso temos várias parcerias. Desse modo conseguimos alcançar
      alta qualidade nos nossos produtos e um bom resultado nosserviços oferecidos.</p>

    <p>Seja você também um parceiro, conheça nosso <a href="/limit">Programa de Parceria</a> e tenha inúmeros benefícios: deste desconto em
      todos produtos na loja, até ganho em novos serviços efetuados.</p>
  </mv-section-content>
  <mv-section-list>
    <mv-grid xs="6" md="4">
      <mg-grid-col ng-repeat="partner in $ctrl.paginator">
        <mv-grid-item img="{{::partner.img}}" link="{{::partner.website}}" target="_blank">
          {{::partner.name}}
        </mv-grid-item>
      </mg-grid-col>
    </mv-grid>
  </mv-section-list>
</mv-section>
