/** Number */
.mv-control{
  &--number {
    input {
      width: 100%;
    }
    .mv-button {
      display: flex;
      flex: 1;
      margin: 0;
      min-width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      box-shadow: none;
    }
  }
}
