<div class="mv-control__row">
  {{#icon}}
  <div class="mv-control__icon">
    <i class="fa fa-{{icon}}"></i>
  </div>
  {{/icon}}
  <div class="mv-control__container">
    <label class="mv-control__label">
      <span class="mv-control__label-text">{{label}}</span>
      {{{control}}}
    </label>
    {{#messages}}
    <ul class="mv-control__messages">
      {{#message}}
        <li>{{.}}</li>
      {{/message}}
    </ul>
    {{/messages}}
  </div>
  <div class="mv-control__button">
    <button type="button" class="mv-control__button-up mv-button" tabindex="-1">
      <i class="fa fa-chevron-up"></i>
    </button>
    <button type="button" class="mv-control__button-down mv-button" tabindex="-1">
      <i class="fa fa-chevron-down"></i>
    </button>
  </div>
</div>
