/**
 * mv-layout
 *
 * Layout
 *
 * @project mvComponents
 * @version 1.0
 * @package CSS
 * @subpackage Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */


/**
 * @section Mixins
 *
 * Calculate column size percentage
 */
@mixin spacing( $value, $type: margin, $orientation: vertical ) {
  @if $orientation == vertical {
    #{$type}-top: $value;
    #{$type}-bottom: $value;
  } @else {
    #{$type}-left: $value;
    #{$type}-right: $value;
  }
}

/**
 * Spacing mixin to create uniform margin/padding
 */

@function get-col-percent($column-num) {
  @return $column-num / $mv-flex__columns * 100%;
}

%#{$mv-flex__class-col} {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  @include spacing(($mv-layout--gap), padding, horizontal);
}

%#{$mv-flex__class-col}--flex {
  @extend %#{$mv-flex__class-col};
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

/**
 * Generate a set of grid column classes using a namespace
 *
 * .#{ $mv-flex__class-col }-[namespace] for intelligent column division
 * .#{ $mv-flex__class-col }-[namespace]-[number] for a column that covers a specific number of columns (e.g. 1-12 by default)
 * .#{ $mv-flex__class-off }-[namespace]-[number] for pushing a col a specific number of columns (e.g. 1-11 by default)
 */

@mixin grid-base( $namespace ) {
  .#{$mv-flex__class-col}--#{$namespace} {
    @extend %#{$mv-flex__class-col}--flex;
  }

  @for $i from 1 through $mv-flex__columns {
    .#{ $mv-flex__class-col}--#{$namespace}-#{$i} {
      @extend %#{ $mv-flex__class-col};
    }
  }
}

@mixin grid-sizes( $namespace ) {

  // Run the loop for as many columns as speficied
  @for $i from 1 through $mv-flex__columns {
    .#{ $mv-flex__class-col}--#{$namespace}-#{$i} {
      flex-basis: get-col-percent($i);
      max-width: get-col-percent($i);
    }
  }

  @for $i from 1 through $mv-flex__columns {
    // Don't include the .off class for the last column
    @if ($i != $mv-flex__columns) {
      .#{$mv-flex__class-off}--#{$namespace}-#{$i} {
        margin-left: get-col-percent($i);
      }
    }
  }

}

/**
 * Row wrapper class, flex box parent.
 */
.#{$mv-flex__class-row} {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include spacing((-$mv-layout--gap), margin, horizontal);
}

/**
 * Build the grid in two steps, to help minimize file size
 * Step 1, for each namespace, create the grid-base
 * Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
@each $val in $mv-flex__breakpoints {

  $namespace: nth($val, 1);
  @include grid-base($namespace);

}

@each $val in $mv-flex__breakpoints {
  @if length($val) == 1 {

    $namespace: nth($val, 1);
    @include grid-sizes($namespace);

  } @else {

    $namespace: nth($val, 1);
    $size: nth($val, 2);

    @media only screen and (min-width: #{$size}) {
      @include grid-sizes($namespace);
    }
  }
}

.#{$mv-flex__class-col} {
  @extend %#{$mv-flex__class-col}--flex;
  //@extend .mv-col--xs-12;
}

/*
 * @section Layout
 */
.mv-layout {
  box-sizing: border-box;
  display: flex;

  &--fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &--box {
    background-color: $mv-color--primary;
    padding: 1em;
    color: invert($mv-color--primary);
  }

  &--grid {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -($mv-layout--gap);
    margin-right: -($mv-layout--gap);
  }

  &--row {
    display: flex;
    flex-direction: row;
  }
  &--col {
    display: flex;
    flex-direction: column;
  }

  &--container {
    flex-grow: 1;
    flex-direction: column;
    //padding: 0 ($mv-layout--gap);
  }

  &--content {
    display: flex;
    flex-direction: column;
    position: relative;
    //overflow: auto;
  }

  &--padding {
    padding: 1rem;
  }

  &--sidenav {
    max-width: 300px;
  }

  &--flex {
    display: flex;
    flex: 1;
    //flex-basis: 100%;
  }

  // Justify
  &--start {
    justify-content: flex-start;
    text-align: start;
  }
  &--center {
    justify-content: center;
    text-align: center;
  }
  &--end {
    justify-content: flex-end;
    text-align: end;
  }

  // Align
  &--top {
    align-items: flex-start;
  }
  &--middle {
    align-items: center;
  }
  &--bottom {
    align-items: flex-end;
  }

  //space
  &--around {
    justify-content: space-around;
  }
  &--between {
    justify-content: space-between;
  }

  // Order
  &--first {
    order: -1;
  }

  &--last {
    order: 1;
  }

}

%device {
  margin: 0 auto;
}

.mv-layout--limit {

  &-xs {
    @extend %device;
    max-width: $mv-device__xs--max;
  }

  &-sm {
    @extend %device;
    max-width: $mv-device__sm--max;
  }

  &-md {
    @extend %device;
    max-width: $mv-device__md--max;
  }

  &-lg {
    @extend %device;
    max-width: $mv-device__lg--max;
  }

}

@media screen and (min-width: $mv-device__lg--min) {
  .mv-layout {
    &--container {
      margin-left: auto;
      margin-right: auto;
      //width: inherit;
      //min-width: $mv-device__lg--min;
      //max-width: $mv-device__lg;
    }
  }
}



