<section class="mv-state--main">
  <mv-section-slideshow fullscreen api="/mv-api/publication-slideshow.json"></mv-section-slideshow>
  <!--<mv-section-news api="/mv-api/publication-news.json"></mv-section-news>-->
  <a ui-sref="company">Mudar</a>
  <mv-section-customer api="/mv-api/customer.json"></mv-section-customer>
</section>
