$mv-logo__height: 6rem;
$mv-logo__height--lg: 12.5rem;
$mv-logo__delocamento: 0.25rem;

.mv-logo {
  position: relative;
  display: flex;
  width: 100%;
  height: $mv-logo__height + $mv-logo__delocamento;
  box-sizing: border-box;
  z-index: 1;

  &__badge {
    position: relative;
    display: flex;
    min-width: $mv-logo__height;
    height: $mv-logo__height;
    transition: height 300ms ease;
  }

  &__badge:before,
  &__badge:after {
    @extend .mv-logo__badge;
    position: absolute;
    width: $mv-logo__height;
    content: " ";
    left: 0;
    z-index: -1;
    //border-radius: $mv-logo__height/2;
    border-radius: 50%;
  }
  &__badge:before {
    background-color: $mv-logo--secondary;
    top: $mv-logo__delocamento;
  }

  &__badge:after {
    background: $mv-color--primary;
    top: 0;
  }

  &__icon {
    display: flex;
    height: 2.8rem;
  }

  &__img {
    margin: 0 auto;
    width: 4rem;
    //height: 2.8rem;
  }

  &__name {
    display: flex;
    margin: 0 0.5rem;
    height: 4rem;
    line-height: 1.5rem;
    flex-direction: column;
    justify-content: center;
  }

  &__primary {
    font-size: 1.2rem;
    color: $mv-logo--primary;
  }

  &__secondary {
    font-size: 1rem;
    text-transform: uppercase;
    color: $mv-logo--secondary;
  }

  /**
   * Compact
   */
  &--default {

  }

  &--default &__badge {
    flex-direction: column;
    justify-content: center;
  }

  &--default &__name {
    padding-top: 0.3rem;
    margin: 0 1rem;
    text-align: center;
  }

  /**
 * Horizontal
 */
  &--horizontal,
  &--header {
    flex-direction: row;
  }
  &--horizontal &__icon,
  &--header &__icon {
    display: flex;
    min-width: $mv-logo__height;
    height: $mv-logo__height;
    line-height: $mv-logo__height;
    align-items: center;
  }
  &--horizontal &__name,
  &--header &__name {
    margin: auto 1rem;
    align-self: center;
    text-align: left;
  }

  @media screen and (min-width: $mv-device__md) {
    &--header {

    }
    &--header &__icon{
      height: 2.8rem;
    }
    &--header &__img{
      width: 5.5rem;
    }
    &--header &__badge {
      min-width: $mv-logo__height--lg;
      height: $mv-logo__height--lg;
      flex-direction: column;
      justify-content: center;
    }
    &--header &__name {
      padding-top: 0.3rem;
      margin: 0 1rem;
      text-align: center;
      line-height: 2rem;
    }
    &--header &__primary{
      font-size: 1.8rem;
    }
    &--header &__secondary{
      font-size: 1.2rem;
    }
  }
}

mv-logo {
  display: block;
}
