<div class="mv-logo">
  <div class="mv-logo__badge">
    <div class="mv-logo__icon">
      <img  class="mv-logo__img" src="/app/assets/img/mv-logo.png" alt="">
    </div>
    <div class="mv-logo__name">
      <span class="mv-logo__primary">mvinicius</span>
      <span class="mv-logo__secondary">consultoria</span>
    </div>
  </div>
</div>
