$baseSize: 96px;

@each $name, $position in ('tecnologia', 0 * $baseSize),
  ('treinamento', 1 * $baseSize),
  ('marketing', 2 * $baseSize),
  ('design', 3 * $baseSize),
  ('inteligencia', 4 * $baseSize),
  ('socioambiental', 5 * $baseSize) {
  .mv-service-icon--#{$name} {
    background-position: -$position 0;
  }
}

.mv-service-icon {
  height: $baseSize;
  width: $baseSize;
  background-image: url('/app/assets/img/service_icon.png');
  background-repeat: no-repeat;
}

mv-service-icon {
  height: $baseSize;
  width: $baseSize;
  display: inline-flex;
  border-radius: $baseSize/2;
  background-color: transparent;
  transition: background-color 300ms ease;

  &:hover {
    background-color: #f2f2f2;
  }
}
