/**
 * mv-background
 *
 * Default background for themes
 *
 * @project mvComponents
 * @version 1.0
 * @package CSS
 * @subpackage Theme
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

/*
 * @section Background
 */

//@import "../mvLayout/mvLayout";

.mv-app {
  @extend .mv-layout;

  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: blue;
}
