/** Toggle */
.mv-control {

  &__toggle {
    display: block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    font-size: 1.5em;
    transition: background 300ms ease;
  }

  &--toggle {
    padding-right: 3rem;
  }
  &--toggle &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    height: 2rem;
    width: 3rem;
    text-align: center;
  }

  &--toggle input,
  &--toggle input:checked ~ &__toggle &--false,
  &--toggle input:checked ~ &--false {
    display: none;
  }

  &--toggle input:checked ~ &__toggle &--true,
  &--toggle input:checked ~ &--true {
    display: block;
  }

  &--toggle input ~ &__toggle {
    color: $mv-color__gray--300;
  }
  &--toggle input:checked ~ &__toggle {
    color: $mv-color__success;
  }

  &--true {
    color: $mv-color--success;
    display: none;
  }
}
