<div class="mv-control__row">
  {{#icon}}
  <div class="mv-control__icon">
    <i class="fa fa-{{icon}}"></i>
  </div>
  {{/icon}}
  <div class="mv-control__container">
    <label class="mv-control__label">
      <span class="mv-control__label-text">{{label}}</span>
      {{{control}}}
      <span class="mv-control__value mv-control--true">{{valueTrue}}</span>
      <span class="mv-control__value mv-control--false">{{valueFalse}}</span>
      <span class="mv-control__toggle">
        <i class="fa fa-check-square-o mv-control--true"></i>
        <i class="fa fa-square-o mv-control--false"></i>
      </span>
    </label>
    {{#messages}}
    <ul class="mv-control__messages">
      {{#message}}
        <li>{{.}}</li>
      {{/message}}
    </ul>
    {{/messages}}
  </div>
</div>
