/**
 * mv-background
 *
 * Default background for themes
 *
 * @project mvComponents
 * @version 1.0
 * @package CSS
 * @subpackage Theme
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

/*
 * @section Background
 */

.mv-background{
  background-color: #f2f2f2;
  background-position: center bottom;
  background-size: cover;
  //background-image: url(/assets/img/default_background.png);

  .mv-intro{
    background-color: transparent;
  }
}
