$mv-menu__height: 30.4rem;
$mv-logo__padding--lg: 12.5rem;

.mv-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  max-width: 400px;
  padding: 4rem 0 0 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  background-color: $mv-color__light;

  transition: left 300ms cubic-bezier(0.42, 0.0, 0.58, 1.0),
  right 300ms cubic-bezier(0.42, 0.0, 0.58, 1.0),
  top 300ms cubic-bezier(0.42, 0.0, 0.58, 1.0),
  bottom 300ms cubic-bezier(0.42, 0.0, 0.58, 1.0);

  a {
    transition: color 200ms linear, background-color 300ms ease;
  }

  &__content {
    height: 100%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__nav-collection {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    border-color: $mv-color__gray--100;
    border-style: solid;
    border-width: 0 0 1px 0;
  }
  &__label {
    padding: 0 .5rem;
    line-height: 1.5em;
    font-size: 1.5em;
    color: $mv-color__gray--300;
  }
  &__label-link {
    @extend %resetLink;

    &:hover {
      color: $mv-color--accent;
    }
  }
  &__label-icon {
    display: none;
  }
  &__label-text {

  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    line-height: 1.5rem;
    border-color: $mv-color__gray--100;
    border-style: solid;
    border-width: 1px 0 0 0;
  }
  &__item-link {
    @extend %resetLink;
    padding: .5rem;

    &:hover {
      color: $mv-color--accent;
      background-color: $mv-color__primary;
    }
  }
  &__item-icon {
    display: none;
  }
  &__item-text {

  }

  &--open {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__service {
    display: flex;
    padding: 0 0.5rem;
    flex-direction: column;
    flex: 1;

    &-title {
      display: flex;
      padding: 0 .5rem;
      font-size: 1.5em;
      color: $mv-color__gray--300;
    }
    &-list {
      display: flex;
      flex-direction: column;
    }
    &-link {
      @extend %resetLink;
      display: flex;
      flex: 1;
      width: 100%;

      &:hover {
        background-color: #f2f2f2;
      }
    }
    &-text {
      display: inline-flex;
      font-size: 1.5em;
      line-height: 96px;
    }
  }

}

@media screen and (min-width: $mv-device__md) {

  .mv-menu {
    top: -100%;
    left: 0;
    right: 0;
    bottom: 100%;
    padding: 0;
    max-width: inherit;
    min-height: $mv-menu__height;
    height: inherit;
    border-color: $mv-color__gray--100;
    border-style: solid;
    border-width: 0 0 1px 0;

    &__content {
      overflow-y: inherit;
      overflow-x: inherit;
    }
    &__nav-collection {
      padding-top: 4rem;
      flex: 1;
      flex-direction: row;
      align-items: stretch;
    }

    &__nav {
      flex: 1;
      border-width: 0;

      &:nth-child(3),
      &:nth-child(4) {
        text-align: right;
      }

    }
    &__label {
      border-color: $mv-color__gray--100;
      border-style: solid;
      border-width: 0 0 1px 0;
    }

    &__item {
      border-width: 0;
    }

    &__item-link {

      &:hover {
        background-color: transparent;
      }
    }

    &__service {
      padding-bottom: 4rem;
      align-items: center;
      flex-wrap: wrap-reverse;

      &-title {
        margin: 0;
        justify-content: center;
      }
      &-list {
        flex-direction: row;
        flex-wrap: wrap;
      }
      &-link {
        padding: 0 .5rem;
        align-items: center;
        flex-direction: column;

        &:hover {
          background-color: transparent;
        }
      }
      &-text{
        font-size: 1em;
        line-height: 1.5em;
      }
    }

    &--open {
      top: 6rem;
      left: 0;
      right: 0;
      bottom: auto;
    }
  }

}

mv-menu {
  position: relative;
  display: block;
  width: 100%;
  z-index: 950;
}
