<div class="mv-menu" ng-class="{'mv-menu--open': $ctrl.isOpen()}">
  <div class="mv-menu__content">

    <section class="mv-menu__nav-collection mv-layout--container mv-layout--limit-lg">
      <nav class="mv-menu__nav" ng-repeat="menu in $ctrl.menus">
        <h2 class="mv-menu__label">
          <a class="mv-menu__label-link" ui-sref="{{menu.route}}">
            <i class="mv-menu__label-icon fa fa-fw fa-{{menu.icon}}"></i>
            <span class="mv-menu__label-text">{{menu.label}}</span>
          </a>
        </h2>
        <ul class="mv-menu__list">
          <li class="mv-menu__item" ng-repeat="page in menu.pages">
            <a class="mv-menu__item-link" ng-href="{{page.route}}">
              <i class="mv-menu__item-icon fa fa-{{page.icon}}"></i>
              <span class="mv-menu__item-text">{{page.label}}</span>
            </a>
          </li>
        </ul>
      </nav>
    </section>

    <section class="mv-menu__service">
      <h2 class="mv-menu__service-title">Produtos e Serviços</h2>
      <div class="mv-menu__service-list">
        <a class="mv-menu__service-link" href="#" title="Tecnologia">
          <mv-service-icon name="tecnologia"></mv-service-icon>
          <span class="mv-menu__service-text">Tecnologia</span>
        </a>
        <a class="mv-menu__service-link" href="#" title="Treinamento">
          <mv-service-icon name="treinamento"></mv-service-icon>
          <span class="mv-menu__service-text">Treinamento</span>
        </a>
        <a class="mv-menu__service-link" href="#" title="Marketing">
          <mv-service-icon name="marketing"></mv-service-icon>
          <span class="mv-menu__service-text">Marketing</span>
        </a>
        <a class="mv-menu__service-link" href="#" title="Design">
          <mv-service-icon name="design"></mv-service-icon>
          <span class="mv-menu__service-text">Design</span>
        </a>
        <a class="mv-menu__service-link" href="#" title="Inteligência">
          <mv-service-icon name="inteligencia"></mv-service-icon>
          <span class="mv-menu__service-text">Inteligência</span>
        </a>
        <a class="mv-menu__service-link" href="#" title="Socioambiental">
          <mv-service-icon name="socioambiental"></mv-service-icon>
          <span class="mv-menu__service-text">Socioambiental</span>
        </a>
      </div>
    </section>
  </div>
</div>
