/** Editor */
.mv-control {
  &__editor{
    @extend .mv-control__setup;
  }

  &--editor {
    textarea {
      margin: 0;
      width: 100%;
      resize: vertical;
      min-height: 8rem;
    }

    .trumbowyg {
      margin: 0;
      border-color: darken($mv-color__light, 10%);
      background-color: $mv-color__light;
    }
  }

  &--editor &__setup {
    //checklist/_checklist.scss
    padding: .3em;
    background-color: darken($mv-color__light, 5%);
  }

  &__preview {
    display: none;
  }

  &--preview &__preview {
    display: block;
  }
}
