$mv-section-slideshow__height: 30rem;
$mv-caption__height: 6rem;
$mv-caption__gap: .5rem;

$mv-section-slideshow__color: $mv-color--primary;

%caption {
  min-height: $mv-caption__height;
  padding: $mv-caption__gap $mv-caption__gap 0 $mv-caption__gap;
  color: $mv-color__light;
}

.mv-section-slideshow {
  position: relative;

  &__container {
    position: relative;
  }

  &__failed {
    min-height: $mv-section-slideshow__height;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-icon{
      height: 2em;
      line-height: 2em;
      font-size: 4em;
      color: darken($mv-section-slideshow__color, 5%);
    }

    &-text{
      color: darken($mv-section-slideshow__color, 10%);
      text-transform: uppercase;
    }
  }

  &__collection {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__slide {
    display: flex;
    width: 100%;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__caption {
    @extend %caption;
    text-align: center;
    background-color: rgba($mv-section-slideshow__color, .9);

    a{
      @extend %resetLink;
    }
  }

  &__title {
    margin: 0 0 1rem 0;
    font-weight: 300;
    font-size: 1.5rem;
    color: inherit;
  }

  &__description {

  }

  &__pagination {
    @extend %caption;
    display: flex;
    flex: 1;
    align-items: center;
    overflow: hidden;
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
  }

  &__item {
    display: flex;
    margin: 0 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    color: darken($mv-color__light, 20%);
    background-color: $mv-color__light;
    border-radius: 50%;

    &--active {
      color: darken($mv-color--accent, 25%);
      background-color: $mv-color--accent;
    }
  }

  &__button {
    display: flex;
    flex: 1;
    border: none;
    font-size: .8em;
    text-align: center;
    text-indent: -3rem;
    overflow: hidden;
    outline: none;
    background-color: transparent;
  }

  &__progressbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    z-index: 10;
    background-color: $mv-section-slideshow__color;
  }
  &__progress{
    height: 5px;
    border-radius: 2.5px;
    width: 0%;
    background-color: $mv-color--accent;
    transition-property: width;
    transition-timing-function: ease;
  }

  @media screen and (min-width: $mv-device__md) {
    &__caption, &__pagination {
      position: absolute;
      bottom: 0;
    }
    &__caption {
      text-align: left;
      width: 50%;
      left: 0;
    }
    &__pagination {
      width: 25%;
      right: 0;
    }
    &__title {
      font-size: 2rem;
    }
  }

  @media screen and (min-width: $mv-device__lg){
    height: 37rem;

    &__content{
      height: 37rem;
    }
  }

}

.mv-section-slideshow--fullscreen {

  .mv-section-slideshow{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .mv-section-slideshow__image{
    visibility: hidden;
  }
}

mv-section-slideshow {
  //display: flex;
  flex-grow: 1;
}
