<div class="mv-section-slideshow bg-primary">
  <div class="mv-section__container mv-layout--container mv-layout--limit-lg">

    <div class="mv-section-slideshow__collection" ng-show="!$ctrl.failed">
      <div class="mv-section-slideshow__progressbar">
        <div class="mv-section-slideshow__progress"></div>
      </div>
      <div class="mv-section-slideshow__slide"
           ng-repeat="slide in $ctrl.getSlides()"
           ng-show="$ctrl.isCurrentPage($index+1)">
        <div class="mv-section-slideshow__content">
          <div class="mv-section-slideshow__image">
            <img ng-src="{{slide.midia.uri}}" alt="{{slide.title}}">
          </div>
          <div class="mv-section-slideshow__caption">
            <a href="{{slide.href}}">
              <h1 class="mv-section-slideshow__title">{{slide.title}}</h1>
              <p class="mv-section-slideshow__description">{{slide.description}}</p>
            </a>
          </div>
        </div>
      </div>
      <div class="mv-section-slideshow__pagination">
        <ul class="mv-section-slideshow__list">
          <li class="mv-section-slideshow__item" ng-repeat="slide in $ctrl.getSlides()"
              ng-class="{'mv-section-slideshow__item--active': $ctrl.isCurrentPage($index+1)}">
            <button class="mv-section-slideshow__button" ng-click="$ctrl.goToPage($index+1)">
              {{$index+1}}
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="mv-section-slideshow__failed" ng-show="$ctrl.failed">
      <span class="mv-section-slideshow__failed-icon">
       <i class="fa fa-cloud fa-stack-1x"></i>
      </span>
      <p class="mv-section-slideshow__failed-text">
        Conectando ...
      </p>
    </div>
  </div>
</div>
