.mv-paginator {

  &__button {
    min-width: 4rem;
    padding: 0 1rem;
    min-height: 4rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    line-height: 4rem;
    outline: none;
    color: $mv-color__gray--300;
    background-color: transparent;

    &:active {
      color: $mv-color__gray--500;
    }
  }

  &--disabled {
    color: $mv-color--gray--100;
  }
}

mv-paginator {
}
