<button class="mv-paginator__button">
  <i class="fa fa-list"></i>
  {{$ctrl.current+1}} : {{$ctrl.total+1}}
</button>
<button class="mv-paginator__button"
        ng-class="{'mv-paginator--disabled':$ctrl.isPrevDisabled()}"
        ng-click="$ctrl.prev()"
        ng-disabled="$ctrl.isPrevDisabled()">
  <i class="fa fa-chevron-left"></i>
</button>
<button class="mv-paginator__button"
        ng-class="{'mv-paginator--disabled':$ctrl.isNextDisabled()}"
        ng-click="$ctrl.next()"
        ng-disabled="$ctrl.isNextDisabled()">
  <i class="fa fa-chevron-right"></i>
</button>
<div ng-transclude></div>
