<div class="mv-control__row">
  {{#icon}}
  <div class="mv-control__icon">
    <i class="fa fa-{{icon}}"></i>
  </div>
  {{/icon}}
  <div class="mv-control__container">
    <label class="mv-control__label">
      <span class="mv-control__label-text">{{label}}</span>
      {{{control}}}
    </label>
    {{#messages}}
    <ul class="mv-control__messages">
      {{#message}}
        <li>{{.}}</li>
      {{/message}}
    </ul>
    {{/messages}}
  </div>
</div>
