<div class="mv-state--company">
  <mv-section-slideshow fullscreen api="/mv-api/publication-slideshow.json"></mv-section-slideshow>

  <a ui-sref="mv-app">Mudar</a>
  <!--<mv-section-partner api="/mv-api/partner.json"></mv-section-partner>-->
  <mv-section-customer api="/mv-api/customer.json"></mv-section-customer>
</div>
