/**
 * mv-navboard
 *
 * Navigation component
 *
 * @project mvComponents
 * @version 1.0
 * @package CSS
 * @subpackage Navigation
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
include
/*
 * @section Navigation
 */
.mv-navboard {
  position: relative;
  display: block;

  a {
    text-decoration: none;
  }

  &__container {
    display: block;
    padding: 0 1em;
  }

  &__header {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  &__title {
    margin: 0;
    line-height: 5rem;
    text-transform: uppercase;
    color: $mv-color__default;
  }

  &__name {
    display: block;
    margin: 0;
    margin-bottom: .5rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    color: $mv-color__gray--300;
    a {
      color: inherit;
    }
  }

  &__menu {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    list-style: none;
    overflow: hidden;
  }

  &__item {
    display: inline-block;
  }

  &__button {
    display: block;
    min-width: 5rem;
    padding: 1rem;
    font-size: 1em;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    color: $mv-color__default;
    border-radius: $mv-border-radius;

    &:hover {
      color: $mv-color__accent;
      background-color: $mv-color__gray--900;
    }
  }

  &__icon_container {
    display: block;
  }

  &__icon {

  }
  &__text {

  }
}
