<mv-section id="client" title="Clientes">
  <mv-section-paginator>
    <mv-paginator limit="6" order-by="name" collection="$ctrl.customers" result="$ctrl.paginator"></mv-paginator>
  </mv-section-paginator>
  <mv-section-content>
    <p>Cada projeto é um desafio bastante promissor para aumentamos as nossas parcerias e fidelizar cada
      cliente.</p>
    <p>Fique a vontade para confir com nossos clientes sobre nossos serviços, assim você
      poderá comprovar com cada estudo de caso o profissionalismo e a qualidade de cada serviço prestado.</p>
  </mv-section-content>
  <mv-section-list>
    <mv-grid xs="6" md="4">
      <mg-grid-col ng-repeat="customer in $ctrl.paginator">
        <mv-grid-item img="{{::customer.img}}" link="{{::customer.website}}" target="_blank">
          {{::customer.name}}
        </mv-grid-item>
      </mg-grid-col>
      <pre>
        {{$ctrl.paginator | json}}
      </pre>
    </mv-grid>
  </mv-section-list>
</mv-section>
