/**
 * Colors
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Color
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@mixin color($color, $value) {
  .color-#{$color} {
    color: $value;
  }
}

@include color('default', $mv-color__default)
@include color('primary', $mv-color__primary)
@include color('danger', $mv-color__danger)
@include color('warning', $mv-color__warning)
@include color('success', $mv-color__success)
@include color('light', $mv-color__light)
@include color('dark', $mv-color__dark)
@include color('accent', $mv-color__accent)

/**
 * Background
 */
@mixin bg($color, $value, $font-color: #fff) {
  .bg-#{$color} {
    color: $font-color;
    background-color: $value;
  }
}

@include bg('default', $mv-color__default)
@include bg('primary', $mv-color__primary)
@include bg('danger', $mv-color__danger)
@include bg('warning', $mv-color__warning)
@include bg('success', $mv-color__success)
@include bg('light', $mv-color__light, $mv-color__gray--900)
@include bg('dark', $mv-color__dark)
@include bg('accent', $mv-color--accent, $mv-color__gray--900)
@include bg('soft', #f2f2f2, $mv-color__gray--900)



