/**
 * Global
 *
 * @project mvApp
 * @version 1.0
 * @package CSS
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Global
 */

 * {
   box-sizing: border-box;
 }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $font__family--sans-serif;
}

/**
 * Selection
 */

::selection {
  color: $mv-color__light;
  background-color: $mv-color__default;
}

/**
 * Scrollbar
 */

//::-webkit-scrollbar {
//  height: 100%;
//  width: 10px;
//}
//
///* Track */
//::-webkit-scrollbar-track {
//  //box-shadow: 0 0 0 rgba(0,0,0,0.3);
//  border-radius: $mv-border-radius;
//  background-color: lighten($mv-color__gray--300, 15%);
//}
//
///* Handle */
//::-webkit-scrollbar-thumb {
//  border-radius: $mv-border-radius;
//  background-color: darken($mv-color__gray--100, 15%);
//}
//
//::-webkit-scrollbar-thumb:window-inactive {
//  background-color: darken($mv-color__gray--100, 15%);
//}


/**
 * cloak
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
  height: 0;
}

/*
 * Ui View Animation
 * ===============================================================================
 */
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition: all .5s ease-in-out;
  overflow: hidden;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  transform: translate3d(50px, 0, 0);
}
