/**
 * Variables
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Variables
 */

/**
 * @subsection Color
 */
$mv-color__pallete--mono: #f2f2f2;
$mv-color__pallete--green: #82b23e;
$mv-color__pallete--blue: #163240;
$mv-color__pallete--red: #401616;
$mv-color__pallete--yellow: #f2d855;

$mv-color__default: #163240;
$mv-color__primary: #163240;
$mv-color__danger: #401616;
$mv-color__warning: #f2d855;
$mv-color__success: #82b23e;
$mv-color__accent: #82b23e;

$mv-color__light: #ffffff;
$mv-color__gray--100: #dbdbdb;
$mv-color__gray--300: #9f9f9f;
$mv-color__gray--500: #727272;
$mv-color__gray--700: #3b3b3b;
$mv-color__gray--900: #2c2c2c;
$mv-color__dark: #292929;

$mv-logo__primary: #dbdbdb;
$mv-logo__secondary: #90c144;

/**
 * @subsection Layout
 */
$mv-layout__columns: 12;

/**
 * @subsection Variables
 */
$mv-size__height: 4rem;

/**
 * @subsection Screen
 */
$mv-device__xs: 480px;
$mv-device__sm: 768px;
$mv-device__md: 992px;
$mv-device__lg: 1200px;

$mv-device__sm--min: $mv-device__xs;
$mv-device__md--min: $mv-device__sm;
$mv-device__lg--min: $mv-device__md;

$mv-device__xs--max: $mv-device__sm - 1;
$mv-device__sm--max: $mv-device__md - 1;
$mv-device__md--max: $mv-device__lg - 1;
$mv-device__lg--max: 1500px;

/**
 * @subsection Border
 */
$mv-border-radius: 3px;

/**
 * @subsection Layout
 */
$mv-flex__columns: $mv-layout__columns;
$mv-layout--gap: 0.5rem; // Espaçamento entre as colunas. {rem}
$mv-flex__class-row: 'mv-row'; // Nome das classes de linhas. {String}
$mv-flex__class-col: 'mv-col'; // Nome das classes de coluna. {String}
$mv-flex__class-off: 'mv-off'; // Nome das classes de offset (sobreposição). {String}
$mv-flex__breakpoints: (
    (xs),
    (sm, $mv-device__sm),
    (md, $mv-device__md),
    (lg, $mv-device__lg)
);
