.mv-footer {
  padding-bottom: 4rem;
  color: $mv-color__gray--100;
  background-color: $mv-color--primary;

  &__nav-wrapper {

  }
  &__nav {
    padding: 1rem .5rem 0 .5rem;
  }

  &__title {
    margin: 0;
    padding: 0 0 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    color: $mv-color__light;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    line-height: 1em;
    text-align: center;
  }

  &__link {
    @extend %resetLink;
    padding: .5em 0;

    &:hover {
      color: $mv-color--accent;
    }
  }

  &__list--info {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__list--info &__item {
    display: flex;
    padding: 0 .5rem;
  }

  &__card {

    &-logo {
      .mv-logo {
        justify-content: center;
      }
    }
    &-content {
      //align-content: flex-end;
    }

    &-info {

    }
    &-text {
      text-align: center;

      &:nth-child(1) {
        padding: 1.4rem 0 .5rem 0;
        font-size: 1.5em;
        color: $mv-logo__secondary;
      }
      &:nth-child(2) {
        color: $mv-logo__secondary;
      }
      &:nth-child(3) {
        padding: 0 0 .5rem 0;
        color: $mv-logo__secondary;
      }
      &:nth-child(4) {
      }
      &:nth-child(5) {
      }
    }
  }
  @media screen and (min-width: $mv-device--xs) {
    padding-top: 4rem;

    &__nav-wrapper {
      display: flex;
      flex: 1;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__nav {
      width: 50%;
      min-height: 16rem;
    }

    &__card-text{
      text-align: left;
    }
  }

  @media screen and (min-width: $mv-device--sm) {
    &__nav {
      width: 33.33%;
      min-height: 16rem;
    }

    &__list--info {
      justify-content: flex-end;
    }

    &__card {
      &-logo {
        .mv-logo {
          justify-content: flex-end;
        }
      }
      &-content {
        //align-content: flex-end;
      }
    }
  }

  @media screen and (min-width: $mv-device--md) {
    &__nav {
      width: 25%;
      min-height: 16rem;
    }
  }
}

mv-footer {
  display: flex;
  flex: 1;
  flex-direction: column;
}
