<footer class="mv-footer">
  <div class="mv-layout-content mv-layout--limit-lg">
    <div class="mv-footer__nav-wrapper">

      <nav class="mv-footer__nav">
        <h2 class="mv-footer__title">Loja</h2>
        <ul class="mv-footer__list">
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Destaques</a></li>
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Formas de Pagamento</a></li>
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Política de Privacidade</a></li>
        </ul>
      </nav>

      <nav class="mv-footer__nav">
        <h2 class="mv-footer__title">Produtos e Serviços</h2>
        <ul class="mv-footer__list">
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Produtos</a></li>
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Projetos</a></li>
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Serviços</a></li>
        </ul>
      </nav>

      <nav class="mv-footer__nav">
        <h2 class="mv-footer__title">Sistemas</h2>
        <ul class="mv-footer__list">
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Campus</a></li>
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Webmail</a></li>
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Painel de Controle</a></li>
        </ul>
      </nav>

      <nav class="mv-footer__nav">
        <h2 class="mv-footer__title">Redes sociais</h2>
        <ul class="mv-footer__list">
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Youtube</a></li>
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Twitter</a></li>
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Facebook</a></li>
          <li class="mv-footer__item"><a class="mv-footer__link" href="#">Github</a></li>
        </ul>
      </nav>

    </div>

    <section class="mv-footer__card mv-layout--limit-xs">
      <div class="mv-footer__card-content mv-row">
        <div class="mv-footer__card-logo mv-col">
          <mv-logo model="horizontal"></mv-logo>
          <ul class="mv-footer__list mv-footer__list--info">
            <li class="mv-footer__item">
              <a class="mv-footer__link" href="#">
                <i class="fa fa-youtube-play"></i>
              </a>
            </li><li class="mv-footer__item">
              <a class="mv-footer__link" href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li><li class="mv-footer__item">
              <a class="mv-footer__link" href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li><li class="mv-footer__item">
              <a class="mv-footer__link" href="#">
                <i class="fa fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="mv-footer__card-info mv-col">
          <span class="mv-footer__card-text">MVinicius Consultoria</span>

          <span class="mv-footer__card-text">(69) 9305-5231</span>
          <span class="mv-footer__card-text">adm@mviniciusconsultoria.com</span>

          <span class="mv-footer__card-text">Todos os direitos reservados</span>
          <span class="mv-footer__card-text">Termos e condições</span>
        </div>
      </div>
    </section>
  </div>
</footer>
