/**
 * mv-button
 *
 * Toolbar
 *
 * @project mvComponents
 * @version 1.0
 * @package CSS
 * @subpackage Button
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

$mv-button--height: 3rem;
$mv-button--min_width: 6rem;

/*
 * @section Mixin
 */
@mixin buttonVariant($color, $value, $font-color: #fff) {
  .mv-button--#{$color} {
    color: $font-color;
    background-color: $value;
  }
  .mv-button--#{$color}:hover {
    background-color: darken($value, 10%);
  }
  .mv-button--#{$color}:active {
    box-shadow: 0 0 3px #ccc;
  }
}

/*
 * @section Component
 */
.mv-button {
  box-sizing: border-box;
  display: inline-block;
  min-width: $mv-button--min_width;
  height: $mv-button--height;
  line-height: $mv-button--height;
  margin: 0 0.1rem 0.3em 0.1rem;
  padding: 0 1em;
  cursor: pointer;
  text-transform: uppercase;
  text-overflow: ellipsis;
  outline: none;
  border: none;
  border-radius: 3px;
  text-align: center;
  color: $mv-color__gray--700;
  background-color: $mv-color__light;
  box-shadow: 0 0 5px #ddd;

  &:hover {
    background-color: $mv-color__light;
  }
  &:active {
    background-color: darken($mv-color__light, 2%);
  }

  &--fab {
    min-width: $mv-button--height;
    width: $mv-button--height;
    height: $mv-button--height;
    border-radius: 50%;
    padding: 0;
    font-size: 1.5rem;
    line-height: $mv-button--height;

    .mv-icon {
      display: block;
      line-height: $mv-button--height;
    }
  }

  &--action {
    min-width: 2.5rem;
    max-width: 2.5rem;
    width: 2.5rem;
    height: $mv-button--height;
    padding: 0;
    border-radius: 0;
    line-height: $mv-button--height;

    .mv-icon {
      display: block;
      line-height: $mv-button--height;
    }
  }
}

a.mv-button{
  display: inline-block;
  width: auto;
  text-decoration: none;
}

@include buttonVariant('primary', $mv-color__primary, lighten($mv-color__primary, 30%))
@include buttonVariant('danger', $mv-color__danger, lighten($mv-color__danger, 30%))
@include buttonVariant('warning', $mv-color__warning, darken($mv-color__warning, 30%))
@include buttonVariant('success', $mv-color__success, darken($mv-color__success, 30%))
@include buttonVariant('light', $mv-color__light, $mv-color__gray--900)
@include buttonVariant('dark', $mv-color__dark, $mv-color__light)
@include buttonVariant('accent', $mv-color__primary, $mv-color--accent)
