$mv-section__height: 30rem;

.mv-section {
  display: block;
  position: relative;
  padding: 2rem 0;
  min-height: $mv-section__height;

  &__header {
    display: flex;
    flex: 1;
    padding-bottom: 2rem;
    flex-direction: column;
    color: $mv-color--gray--900;
  }

  &__title {
    margin: 0;
    padding: 0 .5rem;
    min-height: 5.5rem;
    display: flex;
    flex: 1;
    align-items: center;
    order: 2;
    font-size: 2rem;
    color: $mv-color--default;
  }

  &__paginator {
    display: flex;
    justify-content: flex-start;
    order: 2;
  }

  &__button {
    min-width: 4rem;
    padding: 0 1rem;
    min-height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;

    &:active {
      background-color: darken($mv-color--light, 1%);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: block;
  }

  &__list {

  }

  @media screen and (min-width: $mv-device--sm) {
    &__header {
      flex-direction: row;
    }

    &__title {
      font-size: 3rem;
    }

    &__paginator {
      justify-content: flex-end;
      align-items: center;
    }

    &__container {
      flex-direction: row;
    }

  }

}

mv-section,
mv-section-content,
mv-section-list {
  display: block;
}
