<section class="mv-section">
  <div class="mv-layout--content mv-layout--limit-lg">
    <header class="mv-section__header">
      <h2 class="mv-section__title">{{::$ctrl.title}}</h2>
      <div class="mv-section__paginator" ng-transclude="paginator"></div>
    </header>
    <div class="mv-section__container">
      <div class="mv-section__content mv-col--sm-4" ng-transclude="content"></div>
      <div class="mv-section__list mv-col--sm-8" ng-transclude="list"></div>
    </div>
  </div>
</section>
