.mv-control {
  /** Checklist */
  &--checklist, &--multicheckbox {
    input[type=checkbox],
    input[type=radio] {
      display: inline-flex;
      align-self: center;
      order: -1;
    }
  }

  //editor/_editor.scss
  &--checklist &__setup {
    padding: .3em;
    background-color: darken($mv-color__light, 5%);
  }
}
