.mv-section-news {

  &__link{
    @extend %resetLink;

    &:hover, &:hover .mv-section-news__title{
      color: $mv-color--accent;
    }
  }
  &__title {
    margin: 0;
    padding: 0 0 .5rem 0;
  }
}
