<mv-section id="client" title="Novidades" class="bg-soft">
  <mv-section-paginator>
    <a href="#/" class="mv-button">
      Mais
    </a>
    <mv-paginator limit="6" order-by="name" collection="$ctrl.publications" result="$ctrl.paginator"></mv-paginator>
  </mv-section-paginator>
  <mv-section-content>
    <mv-grid-item img="{{::$ctrl.destaque.revision.thumbnail}}" link="/news/{{::$ctrl.destaque.id}}"
                  date="{{::$ctrl.destaque.publishedat.date}}">
    </mv-grid-item>
    <a class="mv-section-news__link" ng-href="/news/{{::publication.id}}">
      <h3 class="mv-section-news__title">{{::$ctrl.destaque.revision.title}}</h3>
      <p class="mv-section-news__lead">{{::$ctrl.destaque.revision.lead}}</p>
    </a>
  </mv-section-content>
  <mv-section-list>
    <mv-grid xs="12" sm="6" md="4">
      <mg-grid-col ng-repeat="publication in $ctrl.paginator">
        <mv-grid-item img="{{::publication.revision.thumbnail}}" link="/news/{{::publication.id}}"
                      date="{{::publication.publishedat.date}}">
          {{::publication.revision.title}}
        </mv-grid-item>
      </mg-grid-col>
    </mv-grid>
  </mv-section-list>
</mv-section>
