/** Botão */
.mv-control {

  &__button {
    display: flex;
    flex-direction: column;

    .mv-button {
      box-shadow: none;
      min-width: 2rem;
      background-color: transparent;
    }
  }

  &--button {
    .mv-control__setup,
    .mv-control__switch--opened {
      display: none;
    }
  }

  &--button.mv-control--open {
    .mv-control__preview,
    .mv-control__switch--closed {
      display: none;
    }
    .mv-control__setup,
    .mv-control__switch--opened {
      display: block;
    }
  }
}
