/** Icon */
.mv-control {
  &__icon {
    text-align: center;
    min-width: 2rem;
    line-height: 2rem;
  }

  &--icon > .mv-icon {
    display: flex;
    flex: 1;
    align-content: center;
    color: $mv-color__primary;
    border-right: .1rem solid $mv-color__light;
  }
}
