/**
 * mv-control
 *
 * Control (Inputs)
 *
 * @project mvComponents
 * @version 1.0
 * @package CSS
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */


/*
 * @section Mixin
 */

/*
 * @section Component
 */
.mv-control {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 4rem;
  padding: 0;
  margin-bottom: .25rem;
  //background-color: darken($mv-color__light, 2%);

  input,
  select,
  textarea {
    display: flex;
    padding: .25rem 0;
    outline: none;
    background-color: transparent;
    border: none;
  }

  input, select {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: $mv-color__gray--100;
    transition: border 300ms ease;

    &:focus {
      color: $mv-color__default;
      border-color: $mv-color__success;
    }

    &:invalid {
      color: $mv-color-_danger;
      border-color: $mv-color__danger;
      box-shadow: none;
    }
  }

  select {
    border-width: 1px 1px 2px 1px;
  }

  &__row {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__label {
    display: flex;
    flex: 1;
    padding-top: .2rem;
    flex-direction: column;
    min-height: 2rem;
  }

  &__label-text {
    display: block;
    line-height: 1.2rem;
    font-weight: normal;
    color: $mv-color__primary;
  }

  &__value {
    display: block;
    min-height: 2rem;
    line-height: 2rem;
    color: $mv-color__gray--100;
  }

  /** Error messages */
  &__messages {
    margin: 0;
    padding: .2rem 0;
    font-size: .9em;
    color: $mv-color__gray--300;
  }
  &__message {
    padding: 0;
  }


  /**
  * States
  * ------------------------------------------------------------------------ */

  &--on {
    color: $mv-color__success;
  }

  &--off {
    color: $mv-color__light;
  }

}

@import "button";
@import "icon";
@import "setup";
