/** Setup */
.mv-control{

  &__setup{
    position: relative;
    overflow: hidden;
    padding: 0.5rem 0;
    transition: .5s ease all;
    border-radius: .3rem;
  }

  &__setup &__label {
    flex-direction: row;
    font-weight: normal;
    min-height: 1.5rem;
  }

  &__setup &__label-text {
    display: inline-block;
    padding-left: .5em;
    line-height: 1.5rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

}
